html,body {
  padding:0px;
  margin:0px;
}
nav{
  position: relative;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}
/*===================================header======================================*/
.settingTitle {
  font-size:60px;
  text-decoration:none;
  color:black;
  text-shadow: 3px 0px 0px #FF6666;
}

.settingMenu{
  display:flex;
  flex-direction: row;
  list-style: none;
  padding:0px;
}
.settingMenu li{
  padding-left: 30px;
  padding-right: 30px;
  border-left: 6px solid black;
}
.settingMenu > li:first-child{
  padding-left: 0px;
  border:none;
  margin-left: 0;
}
.settingMenu a {
  font-size:50px;
  font-style:italic;
  color:black;
  text-decoration:none;
  font-weight:bold;
}
/* ================================main (profile.html)======================== */
.settingContents{
  margin: 50px 50px;
  color:#454545;
  font-size:17px;
  font-family: "UhBee Seulvely";
}
.settingContents dl{
  display: grid;
  grid-template-columns: 150px 1fr;
}
.settingContents dt{
  color:black;
}

.mySlides img{
  width:100%;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display:none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
